In [2]:
import pandas as pd

# To insert the file path 

df = pd.read_csv("KaggleV2-May-2016.csv")

In [3]:
# To show the first five rows of Dataset 
print(df.head())

      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No

In [5]:
# To show the summary info of Dataset 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB
None

In [6]:
# To convert the all column names in lowercase 
df.columns = df.columns.str.lower()
print(list(df.columns))

['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show']

In [7]:
# To remove the extra space from the column name 
df.columns = df.columns.str.strip()
print(list(df.columns))

['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show']

In [8]:
# To replace the hyphen from underscore 
df.columns = df.columns.str.replace('-', '_')
print(list(df.columns))

['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no_show']

In [9]:
# To replace the space form underscore 
df.columns = df.columns.str.replace(' ', '_')
print(list(df.columns))

['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no_show']

In [10]:
# To rename the column 
df = df.rename(columns={
    'hipertension': 'hypertension',
    'handcap': 'handicap'
})

print(list(df.columns))

['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received', 'no_show']

In [11]:
# To check the data type of the column 
print(df[['scheduledday', 'appointmentday']].dtypes)

scheduledday      object
appointmentday    object
dtype: object

In [13]:
# To change the data type 
df['scheduledday'] = pd.to_datetime(df['scheduledday'])
df['appointmentday'] = pd.to_datetime(df['appointmentday'])

print(df[['scheduledday', 'appointmentday']].dtypes)

scheduledday      datetime64[ns, UTC]
appointmentday    datetime64[ns, UTC]
dtype: object

In [14]:
# To remove the timezone 
df['scheduledday'] = df['scheduledday'].dt.tz_localize(None)
df['appointmentday'] = df['appointmentday'].dt.tz_localize(None)

print(df[['scheduledday', 'appointmentday']].dtypes)

scheduledday      datetime64[ns]
appointmentday    datetime64[ns]
dtype: object

In [18]:
# To check the changes 
print(df.columns)
print(df[['scheduledday', 'appointmentday']].dtypes)
print(df[['scheduledday', 'appointmentday']].head())
print(df[['scheduledday', 'appointmentday']].isna().sum())

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hypertension',
       'diabetes', 'alcoholism', 'handicap', 'sms_received', 'no_show'],
      dtype='object')
scheduledday      datetime64[ns]
appointmentday    datetime64[ns]
dtype: object
         scheduledday appointmentday
0 2016-04-29 18:38:08     2016-04-29
1 2016-04-29 16:08:27     2016-04-29
2 2016-04-29 16:19:04     2016-04-29
3 2016-04-29 17:29:31     2016-04-29
4 2016-04-29 16:07:23     2016-04-29
scheduledday      0
appointmentday    0
dtype: int64

In [19]:
# To check the Age distribution 
print(df['age'].describe())
print(df['age'].unique()[:20])

count    110527.000000
mean         37.088874
std          23.110205
min          -1.000000
25%          18.000000
50%          37.000000
75%          55.000000
max         115.000000
Name: age, dtype: float64
[62 56  8 76 23 39 21 19 30 29 22 28 54 15 50 40 46  4 13 65]

In [20]:
# remove unrealistic ages
df = df[(df['age'] >= 0) & (df['age'] <= 100)]

# check again
print(df['age'].describe())

count    110519.000000
mean         37.084519
std          23.103165
min           0.000000
25%          18.000000
50%          37.000000
75%          55.000000
max         100.000000
Name: age, dtype: float64

In [21]:
# check duplicate rows
print("Total duplicate rows:", df.duplicated().sum())

Total duplicate rows: 0

In [22]:
# To check the gender column 
print(df['gender'].unique())

['F' 'M']

In [23]:
# Gender standardization 
df['gender'] = df['gender'].replace({'F': 'Female', 'M': 'Male'})
print(df['gender'].unique())

['Female' 'Male']

In [24]:
# Column standardization 
df['no_show'] = df['no_show'].replace({'No': 'Showed Up', 'Yes': 'No Show'})
print(df['no_show'].unique())

['Showed Up' 'No Show']

In [26]:
binary_cols = ['scholarship', 'hypertension', 'diabetes', 'alcoholism', 'handicap', 'sms_received']

for col in binary_cols:
    print(f"{col} unique values: {df[col].unique()}")

scholarship unique values: [0 1]
hypertension unique values: [1 0]
diabetes unique values: [0 1]
alcoholism unique values: [0 1]
handicap unique values: [0 1 2 3 4]
sms_received unique values: [0 1]

In [28]:
# agar value >0 ho to 1 set karo, else 0
df['handicap'] = df['handicap'].apply(lambda x: 1 if x>0 else 0)

# check again
print(df['handicap'].unique())

[0 1]

In [29]:
#
print("Neighbourhood sample values:", df['neighbourhood'].unique()[:20])

Neighbourhood sample values: ['JARDIM DA PENHA' 'MATA DA PRAIA' 'PONTAL DE CAMBURI' 'REPÚBLICA'
 'GOIABEIRAS' 'ANDORINHAS' 'CONQUISTA' 'NOVA PALESTINA' 'DA PENHA'
 'TABUAZEIRO' 'BENTO FERREIRA' 'SÃO PEDRO' 'SANTA MARTHA' 'SÃO CRISTÓVÃO'
 'MARUÍPE' 'GRANDE VITÓRIA' 'SÃO BENEDITO' 'ILHA DAS CAIEIRAS'
 'SANTO ANDRÉ' 'SOLON BORGES']

In [30]:
# lowercase + strip spaces
df['neighbourhood'] = df['neighbourhood'].str.lower().str.strip()

# check sample values
print(df['neighbourhood'].unique()[:20])

['jardim da penha' 'mata da praia' 'pontal de camburi' 'república'
 'goiabeiras' 'andorinhas' 'conquista' 'nova palestina' 'da penha'
 'tabuazeiro' 'bento ferreira' 'são pedro' 'santa martha' 'são cristóvão'
 'maruípe' 'grande vitória' 'são benedito' 'ilha das caieiras'
 'santo andré' 'solon borges']

In [31]:
import unidecode

df['neighbourhood'] = df['neighbourhood'].apply(lambda x: unidecode.unidecode(x))

# check again
print(df['neighbourhood'].unique()[:20])

['jardim da penha' 'mata da praia' 'pontal de camburi' 'republica'
 'goiabeiras' 'andorinhas' 'conquista' 'nova palestina' 'da penha'
 'tabuazeiro' 'bento ferreira' 'sao pedro' 'santa martha' 'sao cristovao'
 'maruipe' 'grande vitoria' 'sao benedito' 'ilha das caieiras'
 'santo andre' 'solon borges']

In [32]:
# Group by neighbourhood aur count no_show
no_show_by_area = df.groupby('neighbourhood')['no_show'].value_counts().unstack().fillna(0)

# Percentage of no-show per neighbourhood
no_show_by_area['total'] = no_show_by_area.sum(axis=1)
no_show_by_area['no_show_percentage'] = (no_show_by_area['No Show'] / no_show_by_area['total']) * 100

# Top 5 areas with highest no-show percentage
top_no_show_areas = no_show_by_area.sort_values(by='no_show_percentage', ascending=False).head(5)
print(top_no_show_areas[['no_show_percentage']])

no_show                      no_show_percentage
neighbourhood
ilhas oceanicas de trindade          100.000000
santos dumont                         28.918495
santa cecilia                         27.455357
santa clara                           26.482213
itarare                               26.266363

In [38]:
df.head(5)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,Female,2016-04-29 18:38:08,2016-04-29,62,jardim da penha,0,1,0,0,0,0,Showed Up
1,5.589978e+14,5642503,Male,2016-04-29 16:08:27,2016-04-29,56,jardim da penha,0,0,0,0,0,0,Showed Up
2,4.262962e+12,5642549,Female,2016-04-29 16:19:04,2016-04-29,62,mata da praia,0,0,0,0,0,0,Showed Up
3,8.679512e+11,5642828,Female,2016-04-29 17:29:31,2016-04-29,8,pontal de camburi,0,0,0,0,0,0,Showed Up
4,8.841186e+12,5642494,Female,2016-04-29 16:07:23,2016-04-29,56,jardim da penha,0,1,1,0,0,0,Showed Up

In [36]:
df.describe()

,patientid,appointmentid,scheduledday,appointmentday,age,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received
count,1.105190e+05,1.105190e+05,110519,110519,110519.000000,110519.000000,110519.000000,110519.000000,110519.000000,110519.000000,110519.000000
mean,1.474860e+14,5.675303e+06,2016-05-09 07:48:29.957509632,2016-05-19 00:57:19.770537472,37.084519,0.098273,0.197251,0.071870,0.030402,0.020241,0.321040
min,3.921784e+04,5.030230e+06,2015-11-10 07:13:56,2016-04-29 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172457e+12,5.640284e+06,2016-04-29 10:26:56,2016-05-09 00:00:00,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.172598e+13,5.680569e+06,2016-05-10 12:12:35,2016-05-18 00:00:00,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.438963e+13,5.725522e+06,2016-05-20 11:18:25.500000,2016-05-31 00:00:00,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,2016-06-08 20:07:23,2016-06-08 00:00:00,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
std,2.560826e+14,7.129600e+04,NaN,NaN,23.103165,0.297684,0.397925,0.258274,0.171692,0.140824,0.466878

In [39]:
# To make a clean file for use 
df.to_csv('cleaned_medical_appointments.csv', index=False)